<div class="col-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Registro Nuevo Producto</h4>
      <form>
        <div class="form-row">
          <div class="input-group col-md-2 mb-1">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Codigo</span>
            </div>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
          <div class="input-group col-md-4 mb-1">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Nombre</span>
            </div>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
          <div class="input-group col-md-6 mb-1">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Descripción</span>
            </div>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group col-md-2 mb-1">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Precio 1</span>
            </div>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
          <div class="input-group col-md-2 mb-1">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Precio 2</span>
            </div>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
          <div class="input-group col-md-2 mb-1">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Precio 3</span>
            </div>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
          <div class="input-group col-md-2 mb-2">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Tipo Iva</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                  <option value="1">12%</option>
                  <option value="2">0%</option>
                  <option value="3">No objeto de impuesto</option>
                  <option value="4">Exento de iva</option>
                </select>
              </div>
              <div class="input-group col-md-2 mb-2">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Tipo Ice</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                      <option value="1">12%</option>
                      <option value="2">0%</option>
                      <option value="3">No objeto de impuesto</option>
                      <option value="4">Exento de iva</option>
                    </select>
                  </div>
                  <div class="input-group col-md-2 mb-1">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon3">%Ice</span>
                        </div>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                      </div>
        </div>
        <div class="form-row">
                <div class="input-group col-md-3 mb-2">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">Tipo Producto</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01">
                          <option value="1">Bien</option>
                          <option value="2">Servicio</option>
                        </select>
                      </div>
                      <div class="input-group col-md-3 mb-2">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="inputGroupSelect01">Irbpnr</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01">
                             <option selected>Selecione</option>
                              <option value="1">5001-Botellas Plásticas</option>
                            </select>
                          </div>
                <div class="input-group col-md-6 mb-1">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon3">Descripción</span>
                  </div>
                  <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                  
                </div>
              </div>
               <div class="container col-md-3">
                    
              </div>
                    
             
              
        <button class="btn btn-primary" type="submit">Submit form</button>
      </form>
    </div>
  </div>
</div>
